/* Estilo para o formulário de pedido */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo para o título */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilo para os botões de lançamento de produto e pizza */
  .btn-danger {
    background-color: #FF0000; /* Cor vermelha como exemplo, escolha uma que combine com sua aplicação */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
  }
  
  /* Estilo para a tabela de produtos e pizzas */
  .table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .table th {
    background-color: #FFA500; /* Cor laranja como exemplo, escolha uma que combine com sua aplicação */
    color: #fff;
  }
  
  /* Estilo para os rótulos e campos de entrada */
  .form-label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .form-control,
  .form-check-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  /* Estilo para os botões Adicionar e Salvar */
  .btn-success {
    background-color: #008000; /* Cor verde como exemplo, escolha uma que combine com sua aplicação */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  /* Estilo para o modal */
  .modal-header {
    background-color: #FFA500;
    color: #fff;
    padding: 10px;
  }
  
  .modal-title {
    font-size: 24px;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-footer {
    background-color: #FFA500;
    padding: 10px;
  }
  
  /* Estilo para o botão de fechar no modal */
  .btn-close {
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  