<header class="pizzeria-header">
    <div class="logo">
        <img src="https://i.pinimg.com/originals/94/0b/0b/940b0b647860faf0ef3aca0fc360c8ae.png" alt="Logo da Pizzaria">
        <h1>Pizzaria</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#pedidos">Pedidos</a></li>
            <li><a href="/admin/funcionarios">Funcionários</a></li>
            <li><a href="#clientes">Clientes</a></li>
            <li><a href="#pizzas">Pizzas</a></li>
            <li><a href="/admin/sabores">Sabores</a></li>
            <li><a href="#produtos">Produtos</a></li>
            <li><a href="/admin/estoque">Estoque</a></li>
        </ul>
    </nav>
</header>