/* Estilo para o container do formulário */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* Defina a altura mínima desejada */
  background-color: transparent; /* Removendo o fundo branco */
}

/* Estilo para o formulário de cadastro de sabor */
.login-form {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: none;
}

/* Estilo para o título "Cadastrar Sabor" */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Cor do texto */
}

/* Estilo para o rótulo e campo de entrada */
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Cor do texto */
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Borda fina */
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* Estilo para o botão "Salvar" */
button {
  background-color: #008000; /* Cor de fundo */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #006400; /* Cor mais escura ao passar o mouse */
}
