.pizzeria-footer {
    background-color: #FFA500; /* Cor de laranja como exemplo, escolha uma que combine com a sua pizzaria */
    text-align: center;
    padding: 10px 0;
}

/* Estilo para o texto de direitos autorais */
.copyright {
    color: #fff;
    font-size: 16px;
}

.copyright p {
    margin: 5px 0;
}